<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<div class="card" th:each="i : ${items}">
    <img th:src="|${i.imageUrl != null ? i.imageUrl : 'https://placehold.co/300'}|" alt="이미지">
    <div>
        <a th:href="@{ '/detail/' + ${i.id} }">
            <h4 th:text="${i.title}"></h4>
        </a>
        <p th:text="${i.price + '원'}"></p>
        <a th:href="@{ '/edit/' + ${i.id} }">✏️</a>
        <span th:onclick="fetch('/item?id=[[${i.id}]]', { method : 'DELETE' } )
            .then(r => r.text())
            .then(() => { location.reload(); })">🗑️</span>
    </div>
</div>

<div class="pagination">
    <a th:if="${currentPage > 1}" th:href="@{/list/page/{num}(num=${currentPage - 1})}">« 이전</a>

    <a th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
       th:href="@{/list/page/{num}(num=${pageNum})}"
       th:text="${pageNum}"
       th:classappend="${pageNum == currentPage} ? 'active' : ''">
    </a>

    <a th:if="${currentPage < totalPages}" th:href="@{/list/page/{num}(num=${currentPage + 1})}">다음 »</a>
</div>

</body>
</html>
